<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Kubernetes Configuration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/main.css" rel="stylesheet" type="text/css">
    <link href="/public/styles.css" rel="stylesheet" type="text/css">
    <link href="/public/tabs.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/public/favicon.png">
  </head>

<body class="theme-body">
  <div class="theme-navbar">
    {% if logo_url %}
    <div class="theme-navbar__logo-wrap">
        <img class="theme-navbar__logo" src="{{ logo_url }}"/>
    </div>
    {% endif %}
  </div>

  <div class="dex-kubeconfig-container">
    <div class="theme-panel">
      <div style="float:right">
        <a href="/logout">Logout</a>
      </div>
      <h2 class="theme-heading">Generated Kubernetes Token - {{ k8s_ui_host }}</h2>

      <div>

        <p>Please check that you have been assigned to the expected Groups, then follow the instructions
          based on your OS.
        </p>

        <div class="groups">
        <pre><code>{{ userinfo_pretty }}</code></pre>
        </div>

        <p>Your token:
        </p>

        <div class="command">
          <button class="btn" style="float:right" data-clipboard-snippet="">
            <img class="clippy" width="13" src="/public/clippy.svg" alt=""/>
          </button>
          <pre><code>{{ id_token }}</code></pre>
        </div>

        <div class="tab">
          <button class="tablinks active" onclick="openTab(event, 'Linux')">Linux</button>
          <button class="tablinks" onclick="openTab(event, 'MacOS')">MacOS</button>
          <button class="tablinks" onclick="openTab(event, 'Windows')">Windows</button>
        </div>

        <div id="Linux" class="tabcontent" style="display: block">
          
            <h3>Install and Set Up kubectl</h3>
            <div>
            See 
            <a title="Install and setup kubectl" href="https://kubernetes.io/docs/tasks/tools/install-kubectl/">
              https://kubernetes.io/docs/tasks/tools/install-kubectl
            </a>
            {% if kubectl_version %}
            <p>
            Download kubectl:
            <a title="Download kubectl" href="https://storage.googleapis.com/kubernetes-release/release/{{ kubectl_version }}/bin/linux/amd64/kubectl">
              https://storage.googleapis.com/kubernetes-release/release/{{ kubectl_version }}/bin/linux/amd64/kubectl
            </a>
            </p>
            {% endif %}
            </div>

          {% if k8s_ca_uri %}
            <h3>Copy Kubernetes CA Certificate From URL</h3>
        
            <p>Copy this CA Certificate and download it to your .kube directory</p>
            <div class="command">
        
              <button class="btn" style="float: right" data-clipboard-snippet="">
                <img class="clippy" width="13" src="/public/clippy.svg" alt=""/>
              </button>
              <pre><code>curl --create-dirs -s {{ k8s_ca_uri }} -o ${HOME}/.kube/certs/{{ k8s_ui_host }}/k8s-ca.crt</code></pre>
            </div>
          {% endif %}
        
          {% if k8s_ca %}
            <h3>Copy Kubernetes CA Certificate From PEM</h3>
        
            <p>Put the CA Certificate into your .kube directory</p>
        
            <div class="command">
        
              <button class="btn" style="float:right" data-clipboard-snippet="">
                <img class="clippy" width="13" src="/public/clippy.svg" alt=""/>
              </button>
              <pre><code>mkdir -p ${HOME}/.kube/certs/{{ k8s_ui_host }}/ &amp;&amp; cat &lt;&lt; EOF &gt; ${HOME}/.kube/certs/{{ k8s_ui_host }}/k8s-ca.crt
{{ k8s_ca }}
EOF</code></pre>
            </div>
          {% endif %}
        
          <h3>Run configuration commands</h3>
        
          <p>These commands will update <tt>~/.kube/config</tt></p>
        
          <div class="command">
        
            <button class="btn" style="float:right" data-clipboard-snippet="">
              <img class="clippy" width="13" src="/public/clippy.svg" alt="">
            </button>
          <pre><code>kubectl config set-cluster {{ k8s_ui_host }} \
            --certificate-authority=${HOME}/.kube/certs/{{ k8s_ui_host}}/k8s-ca.crt \
            --server={{ k8s_ui_host }}
          </code></pre>
          </div>
        
       
          <div class="command">
        
            <button class="btn" style="float:right" data-clipboard-snippet="">
              <img class="clippy" width="13" src="/public/clippy.svg" alt="">
            </button>
            <pre><code class="hljs">kubectl config set-context {{ userinfo['name'] }} \
            --cluster={{ k8s_ui_host }} \
            --user={{ userinfo['name'] }}
          </code></pre>
          </div>
        
          <div class="command">
        
            <button class="btn" style="float:right" data-clipboard-snippet="">
              <img class="clippy" width="13" src="/public/clippy.svg" alt=""/>
            </button>
            <pre><code class="hljs">kubectl config use-context {{ userinfo['name'] }}-{{ k8s_ui_host }}</code></pre>
          </div>

          <h3>CLI update token</h3>
        
          <p>Copy and create file cli_auth.py</p>
      
          <div class="command">

            <button class="btn" style="float:right" data-clipboard-snippet="">
              <img class="clippy" width="13" src="/public/clippy.svg" alt="">
            </button>
            <pre><code> mkdir -p ${HOME}/.kube/cli_auth/ &amp;&amp; cat &lt;&lt; EOF &gt; ${HOME}/.kube/cli_auth/cli_auth.py
{{ cli_auth }}
EOF</code></pre>
          </div>

          <p>Copy and create file requirements.txt</p>
            <div class="command">
        
              <button class="btn" style="float:right" data-clipboard-snippet="">
                <img class="clippy" width="13" src="/public/clippy.svg" alt="">
              </button>
              <pre><code class="hljs"> cat &lt;&lt; EOF &gt; ${HOME}/.kube/cli_auth/requirements.txt
{{ cli_requirements }}
EOF</code></pre>
            </div>

            <p>Install requirements and make alias</p>
      
            <div class="command">
        
              <button class="btn" style="float:right" data-clipboard-snippet="">
                <img class="clippy" width="13" src="/public/clippy.svg" alt=""/>
              </button>
              <pre><code> pip3 install -r ${HOME}/.kube/cli_auth/requirements.txt &amp;&amp; \
                alias kubectl="kubectl --token=\$(~/.kube/cli_auth/cli_auth.py)"
              </code></pre>
            </div>

            <p>Copy and create file .env with right config</p>
      
            <div class="command">
        
              <button class="btn" style="float:right" data-clipboard-snippet="">
                <img class="clippy" width="13" src="/public/clippy.svg" alt=""/>
              </button>
              <pre><code> cat &lt;&lt; EOF &gt; ${HOME}/.kube/cli_auth/.env
AUTH0_CLIENT_ID = {{ auth0_client_id }}
AUTH0_DOMAIN = {{ auth0_domain }}
APP_HOST = {{ app_host }}
EOF</code></pre>
            </div>

          </div>

        <div id="MacOS" class="tabcontent">
          
            <h3>Install and Set Up kubectl</h3>
            <div>
            See 
            <a title="Install and setup kubectl" href="https://kubernetes.io/docs/tasks/tools/install-kubectl/">
              https://kubernetes.io/docs/tasks/tools/install-kubectl
            </a>
            {% if kubectl_version %}
            <p>
            Download kubectl:
            <a title="Download kubectl" href="https://storage.googleapis.com/kubernetes-release/release/{{ kubectl_version }}/bin/darwin/amd64/kubectl">
              https://storage.googleapis.com/kubernetes-release/release/{{ kubectl_version }}/bin/darwin/amd64/kubectl
            </a>
            </p>
            {% endif %}
            </div>

            {% if k8s_ca_uri %}
            <h3>Copy Kubernetes CA Certificate From URL</h3>
        
            <p>Copy this CA Certificate and download it to your .kube directory</p>
            <div class="command">
        
              <button class="btn" style="float: right" data-clipboard-snippet="">
                <img class="clippy" width="13" src="/public/clippy.svg" alt=""/>
              </button>
              <pre><code>curl --create-dirs -s {{ k8s_ca_uri }} -o ${HOME}/.kube/certs/{{ k8s_ui_host }}/k8s-ca.crt</code></pre>
            </div>
          {% endif %}
        
          {% if k8s_ca %}
            <h3>Copy Kubernetes CA Certificate From PEM</h3>
        
            <p>Put the CA Certificate into your .kube directory</p>
        
            <div class="command">
        
              <button class="btn" style="float:right" data-clipboard-snippet="">
                <img class="clippy" width="13" src="/public/clippy.svg" alt=""/>
              </button>
              <pre><code>mkdir -p ${HOME}/.kube/certs/{{ k8s_ui_host }}/ &amp;&amp; cat &lt;&lt; EOF &gt; ${HOME}/.kube/certs/{{ k8s_ui_host }}/k8s-ca.crt
{{ k8s_ca }}
EOF</code></pre>
            </div>
          {% endif %}
        
          <h3>Run configuration commands</h3>
        
          <p>These commands will update <tt>~/.kube/config</tt></p>
        
          <div class="command">
        
            <button class="btn" style="float:right" data-clipboard-snippet="">
              <img class="clippy" width="13" src="/public/clippy.svg" alt="">
            </button>
          <pre><code>kubectl config set-cluster {{ k8s_ui_host }} \
            --certificate-authority=${HOME}/.kube/certs/{{ k8s_ui_host}}/k8s-ca.crt \
            --server={{ k8s_ui_host }}
          </code></pre>
          </div>
        
       
          <div class="command">
        
            <button class="btn" style="float:right" data-clipboard-snippet="">
              <img class="clippy" width="13" src="/public/clippy.svg" alt="">
            </button>
            <pre><code class="hljs">kubectl config set-context {{ userinfo['name'] }} \
            --cluster={{ k8s_ui_host }} \
            --user={{ userinfo['name'] }}
          </code></pre>
          </div>
        
          <div class="command">
        
            <button class="btn" style="float:right" data-clipboard-snippet="">
              <img class="clippy" width="13" src="/public/clippy.svg" alt=""/>
            </button>
            <pre><code class="hljs">kubectl config use-context {{ userinfo['name'] }}-{{ k8s_ui_host }}</code></pre>
          </div>

          <h3>CLI update token</h3>
        
          <p>Copy and create file cli_auth.py</p>
      
          <div class="command">

            <button class="btn" style="float:right" data-clipboard-snippet="">
              <img class="clippy" width="13" src="/public/clippy.svg" alt="">
            </button>
            <pre><code> mkdir -p ${HOME}/.kube/cli_auth/ &amp;&amp; cat &lt;&lt; EOF &gt; ${HOME}/.kube/cli_auth/cli_auth.py
{{ cli_auth }}
EOF</code></pre>
          </div>

          <p>Copy and create file requirements.txt</p>
            <div class="command">
        
              <button class="btn" style="float:right" data-clipboard-snippet="">
                <img class="clippy" width="13" src="/public/clippy.svg" alt="">
              </button>
              <pre><code class="hljs"> cat &lt;&lt; EOF &gt; ${HOME}/.kube/cli_auth/requirements.txt
{{ cli_requirements }}
EOF</code></pre>
            </div>

            <p>Install requirements and make alias</p>
      
            <div class="command">
        
              <button class="btn" style="float:right" data-clipboard-snippet="">
                <img class="clippy" width="13" src="/public/clippy.svg" alt=""/>
              </button>
              <pre><code> pip3 install -r ${HOME}/.kube/cli_auth/requirements.txt &amp;&amp; \
                alias kubectl="kubectl --token=\$(~/.kube/cli_auth/cli_auth.py)"
              </code></pre>
            </div>

            <p>Copy and create file .env with right config</p>
      
            <div class="command">
        
              <button class="btn" style="float:right" data-clipboard-snippet="">
                <img class="clippy" width="13" src="/public/clippy.svg" alt=""/>
              </button>
              <pre><code> cat &lt;&lt; EOF &gt; ${HOME}/.kube/cli_auth/.env
                AUTH0_CLIENT_ID = {{ auth0_client_id }}
                AUTH0_DOMAIN = {{ auth0_domain }}
                APP_HOST = {{ app_host }}
EOF</code></pre>
            </div>

        </div>
        
        <div id="Windows" class="tabcontent">
          
            <h3>Install and Set Up kubectl</h3>
            <div>
            See
            <a title="Install and setup kubectl" href="https://kubernetes.io/docs/tasks/tools/install-kubectl/">
              https://kubernetes.io/docs/tasks/tools/install-kubectl
            </a>
        
            {% if kubectl_version %}
            <p>
            Download kubectl:
            <a title="Download kubectl" href="https://storage.googleapis.com/kubernetes-release/release/{{ kubectl_version }}/bin/windows/amd64/kubectl.exe">
              https://storage.googleapis.com/kubernetes-release/release/{{ kubectl_version }}/bin/windows/amd64/kubectl.exe
            </a>
            </p>
            {% endif %}
          </div>
        
        </div>
    </div>>

  <script src="/public/highlight.pack.min.js"></script>
  <script src="/public/clipboard.min.js"></script>
  <script src="/public/snippets.js"></script>
  <script src="/public/tooltips.js"></script>
  <script>
      var clipboard = new ClipboardJS('.btn');
      clipboard.on('success', function(e) {
          console.log(e);
      });
      clipboard.on('error', function(e) {
          console.log(e);
      });
  </script>

  <script>
      function openTab(evt, tabName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(tabName).style.display = "block";
          evt.currentTarget.className += " active";
      }
  </script>

</body>
</html>
